@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  color: rgba(6, 184, 0, 0.788) !important;
  text-decoration: none;
}
.photoshop-color {
  color: #2196f3;
}
body {
  background: #0f0f0f;
  /* Цвет фона */
  color: #fff;
  /* Цвет текста */
  font-family: 'Zen Kurenaido', sans-serif;
}
.fixed-left-side-hello {
  margin-left: 22px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.fixed-left-side-body {
  top: 75px;
  bottom: 0;
  left: 30px;
  width: 24%;
  float: left;
  position: fixed;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #222222;
  box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
}
.fixed-left-side-body .profile {
  padding: 80px 0px;
  position: relative;
  margin-bottom: 40px;
}
.fixed-left-side-body .profile-image {
  padding: 0px 40px 0px 40px;
}
.fixed-left-side-body .profile-image > img {
  width: 100%;
  height: 100%;
  display: block;
}
.fixed-left-side-body .profile-name {
  padding: 35px 0px;
  background-color: #2c2c2c;
}
.fixed-left-side-body .profile-name h1.user-name {
  font-size: 34px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
.center,
.center-align {
  text-align: center;
}
ul.social-btn {
  padding: 0px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 10px;
  border-block-color: coral;
}
input:active,
input {
  outline: none;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding-left: 5px;
}
.right-side-body {
  width: 75%;
  float: right;
  position: relative;
  padding-left: 30px;
}
.aboutme-section {
  background-color: #131313;
  padding: 50px;
  margin: 19px;
}
.aboutme-section .personal-details-right {
  padding-bottom: 30px;
  border-bottom: 1px solid #393939;
}
.aboutme-section .personal-details-right h2.title {
  margin-top: 50px;
}
h2.title {
  font-size: 20px;
  line-height: 24px;
}
.city_list {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
}

.city_list-row {
  display: flex;
  box-sizing: border-box;
  padding: 7px 10px;
  margin: 1px;
}
.parser-colum {
  display: flex;
}
.parser-colum:hover {
  animation: animborder 1s;
  animation-iteration-count: infinite;
}
.price-md {
  margin-top: 16px;
  margin-left: 10px;
}
.h4 {
  color: chartreuse;
}
.my-work-1 {
  width: 150px;
}
.grid-view-item-link:hover {
  animation: animborder 1s;
  animation-iteration-count: infinite;
}
@keyframes animborder {
  0% {
    border: 2px solid #ff0008;
  }
  5% {
    border: 2px solid #ff3c00;
  }
  15% {
    border: 2px solid #ffa600;
  }
  25% {
    border: 2px solid #eeff00;
  }
  35% {
    border: 2px solid #9dff00;
  }
  45% {
    border: 2px solid #33ff00;
  }
  55% {
    border: 2px solid #1eff00;
  }
  60% {
    border: 2px solid #00ff95;
  }
  65% {
    border: 2px solid #00eeff;
  }
  70% {
    border: 2px solid #00aeff;
  }
  75% {
    border: 2px solid #0044ff;
  }
  80% {
    border: 2px solid #1900ff;
  }
  85% {
    border: 2px solid #8400ff;
  }
  90% {
    border: 2px solid #e100ff;
  }
  95% {
    border: 2px solid #ff00f2;
  }
  100% {
    border: 2px solid #ff0040;
  }
}
.animation-social-btn:hover,
.td-w25:hover,
.td-w65:hover {
  animation: popylarimageon 0.6s ease;
  animation-iteration-count: 1;
}
.social-btn {
  animation: popylarimageon 1s ease-in-out;
  animation-iteration-count: 5;
}
@keyframes popylarimageon {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animation-text-right {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
.animation-text-left {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
